.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1e2a38;
  padding: 0.75rem 1.5rem;
  color: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  top: 0;
}

.left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ffd166;
  background-color: #fffbe6;
  transition: transform 0.2s ease-in-out;
}

.logo:hover {
  transform: scale(1.1);
}

.siteName {
  font-size: 1.8rem;
  font-weight: 700;
  color:  #ffb703;
  letter-spacing: 1px;
  font-family: 'Poppins', sans-serif;
}

.right {
  display: flex;
  align-items: center;
}

.welcome {
  font-size: 1rem;
  background-color: #ef476f;
  color: white;
  padding: 0.4rem 1rem;
  border-radius: 20px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  box-shadow: 0 2px 5px rgba(239, 71, 111, 0.2);
}