.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0a192f;
  color: white;
  padding: 10px 20px;
  height: 60px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.left {
  display: flex;
  align-items: center;
}

.logo {
  height: 70px;
  width: 70px;
  margin-right: 20px;
}

.siteName {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
}

.right {
  font-size: 16px;
  color: #f0f0f0;
}

.welcome {
  font-style: italic;
}
